<!DOCTYPE html>
<html>
<head>
<title data-th-text="#{label.mainTitle}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
	
</script>
<style>
.h1 {
  font-family: "Impact";
}
.h3 {
  font-family: "Stencil Std";
}

</style>
</head>
<body>
	<th:block th:include='/_header'></th:block>
	<div class="container-fluid p-5 bg-primary text-white text-center">
		<h1 class="h1" data-th-text="#{label.title}"></h1>
		<h3 class="h3" data-th-text="#{label.title5}"></h3>
	</div>
	<div class="container-fluid" th:switch="${ordersDTO}">
		<h2 th:case="null" data-th-text="#{label.titleNoOrders}"></h2>
		<div th:case="*">
			<table class="table table-hover">
				<thead>
					<tr>
						<th data-th-text="#{label.order.id}"></th>
						<th data-th-text="#{label.users.username}"></th>
						<th data-th-text="#{label.totalAmount}"></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${ordersDTO}">
						<td th:text="${order.id}"></td>
						<td th:text="${order.username}"></td>
						<td th:text="${order.totalAmount}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/basket/find/{id}(id=${order.id})}"
							data-th-text="#{label.buttonView}"></a></td>
						<td><div sec:authorize="hasAuthority('ADMIN')">
								<a class="btn btn-warning"
									th:href="@{/items/index/{id}(id=${order.id})}"
									data-th-text="#{label.item.buttonUpdate}"></a>
							</div>
						<td>
						<td><div sec:authorize="hasAuthority('ADMIN')">
								<a class="btn btn-warning"
									th:href="@{/orders/delete/{id}(id=${order.id})}"
									data-th-text="#{label.item.buttonDelete}"></a>
							</div></td>
					</tr>
				</tbody>
			</table>
			<p>
				<a class="btn btn-primary" href="/items/index"
					data-th-text="#{label.buttonBack}"></a>
			</p>
		</div>
	</div>
</body>
</html>