<!DOCTYPE html>
<html>
<body>
	<div align="right">
		<table>
			<tbody>
				<tr>
					<td><a th:href="@{?language=en}"
						data-th-text="#{label.lang.en}"></a> |</td>
					<td><a th:href="@{?language=lt}"
						data-th-text="#{label.lang.lt}"></a> |</td>
					<td data-th-text="#{label.user.user}"></td>
					<td><span sec:authentication="name">Username</span> |</td>
					<td data-th-text="#{label.user.role}"></td>
					<td><span sec:authentication="principal.authorities">Roles</span>
						|</td>
					<td><a th:href="@{/index}" data-th-text="#{label.user.logout}"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>